### CHUKWUEBUKA OGOEGBUNAM DAVID
### 21120612481

## Number 1

## PSEUDOCODE

## INPUT costumer name
## PRINT costumer name
## INPUT menu of costumer
## PRINT menu of customer
## INPUT quantity of order
## PRINT quantity of order
## INPUT total charge of order
## PRINT total charge of order
## IF total charge of order < 10000
## PRINT  total charge of order - 10% of total charge of order
## IF total charge of order is > 10000 < 15000
## PRINT total charge of order - 15% of total charge of order
## IF total charge of order is > 15000
## PRINT total charge of order - 25% of total charge of order

In [17]:
import pandas as pd

xx = pd.read_excel(r"Food menu.xlsx")
print (xx)

               Unnamed: 0 PAU CAFETERIA Unnamed: 2
0                    menu           NaN   Price(â‚¦)
1  Poundo Yam & Edinkaiko           NaN       5500
2    Fried Rice $ Chicken     & Chicken       6000
3      Amala & Ewedu Soup           NaN       4500
4        Eba & Egusi Soup           NaN       4000
5       White rice & stew           NaN       4500

In [54]:
XX = list["Poundo_yam" = 5500 ,"Fried_rice_and_chicken" = 6000, "Amala_and_ewedu_soup" = 4500 ,"Eba_and_Egusi_soup" = 4000 ,"White_rice_and_stew" = 4500,]
Customer_name = input(str(" What is your name ?                                   "))
Customer_order = input(str("What are you ordering                                 "))
Quantity = input(str("How many?     "))

for b in Customer_order :
    if (b in XX):
        print(Customer_order)

SyntaxError: invalid syntax (<ipython-input-54-4827900f02b3>, line 1)

In [52]:
import pandas as pf
xg = pf.read_excel(r"Employee.xlsx")
print(xg)

  Boston Consulting Group EMIS  Unnamed: 1 Unnamed: 2          Unnamed: 3
0                Employee name         NaN      Years  Assessment Records
1                  Alegbe Luis         NaN          5                44.5
2                  Anna Mabuta         NaN         10                67.4
3                   Karim Kafi         NaN         15                23.8
4                 Esther Moses         NaN          8                71.1
5                  Jonah Longe         NaN          4                50.3
6                Coins Fagbemi         NaN         20                63.3

## PSEUDOCODE

### INPUT assessment record
### IF assessment record = X
### IF X < 40
### PRINT 1 point
### IF 39< X < 50 
### PRINT 2 point
### IF 49 < X  < 60 
### PRINT 3 POINT
### IF 59< X <70
### PRINT 4 point
### IF X > 69
### PRINT 5 point
### Reward =total points divided by number of employees